<nb-card accent="{{accent}}" id="accept-card">
  <nb-card-header class="flex">
    <p>{{cardTitle}}: <strong>({{listData.length}})</strong></p>

    <button [routerLink]="[link]" nbButton shape="round" size="small" status="{{accent}}">Details</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let data of listData">
        <span style="font-weight: bolder;">{{ data.klantnaam }}</span>
        <span *ngIf="large">{{ data.stad }}</span>
        <span>{{ data.orderDate | momentDate }}</span>
        <span *ngIf="large">{{ data.prijs }}</span>
        <span *ngIf="showButton"><button nbButton status="primary" size="small" (click)="updateOrder(data)">overseinen
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon></button></span>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>