.flex {
  display: flex;
  justify-content: space-between;
}

nb-card {
  max-height: 35vh;
}

nb-list-item {
  display: flex;
  justify-content: space-between;
  // span {
  //   min-width: 100px;
  //   max-width: 100px;
  // }
}

nb-list > nb-list-item:nth-child(1) {
  border-top: 0px;
}
