<div class="order-wrapper">
  <!--  <h2 >voeg order in</h2>-->
  <button nbButton status="basic" (click)="openWindow()">voeg order in</button>
  <button class="refreshbutton" nbButton ghost nbTooltip="ververs dashboard" nbTooltipIcon="refresh-outline" status="danger" size="large" (click)="loadData()"><nb-icon icon="refresh-outline"></nb-icon></button>

</div>

<div class="content-wrapper">
  <app-card-list id="accept-card" [accent]="'danger'" [cardTitle]="'Orders te accepteren'" [large]="large"
    [listData]="orderService.toAcceptOrders$" [link]="'/details/toaccept'" [toStage]="1" (loadData)="loadData()">
  </app-card-list>

  <app-card-list id="prepare-card" [accent]="'info'" [cardTitle]="'Orders te bereiden'" [large]="large"
    [listData]="orderService.toProcessOrders$" [link]="'/details/tomanage'" [toStage]="2" (loadData)="loadData()">
  </app-card-list>

  <app-card-list id="send-card" [accent]="'warning'" [cardTitle]="'Orders te verzenden'" [large]="large"
    [listData]="orderService.toShipOrders$" [link]="'/details/tosend'" [toStage]="3" (loadData)="loadData()">
  </app-card-list>

  <app-card-list id="sent-card" [accent]="'control'" [cardTitle]="'Orders verzonden'" [large]="large"
    [listData]="orderService.shippedOrders$" [link]="'/details/send'" [showButton]="false"></app-card-list>
</div>