@import "../../var";

.content-wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 100px;

  grid-template-areas: "Accept Accept" "Prepare Prepare" "Send Send" "Sent Sent";

  @include lg {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "Accept Prepare"
      "Send Send "
      "Sent Sent ";
  }
}

#accept-card {
  grid-area: Accept;
}

#prepare-card {
  grid-area: Prepare;
}

#send-card {
  grid-area: Send;
}

#sent-card {
  grid-area: Sent;
}

.order-wrapper{
  text-align: center;
  padding-bottom: 35px;
  input {
    margin-right: 25px;
  }
}

.refreshbutton{
  display: block;
  position: absolute;
  right: 2.5rem;
  top: 1rem;
  z-index: 999999;
}
